.contact-form-container {
    width: 100%;
    max-width: 800px;
    background-color: #171717;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.contact-form-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8rem;
    font-weight: bold;
}
.form-control {
    background-color: transparent !important;
    color: white !important;
    border: none;
    border-bottom: 1px solid #444;
    border-radius: 0;
}
.form-control:focus {
    background-color: transparent;
    box-shadow: none;
    border-bottom-color: #6c757d;
}
.btn-submit {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
}
.btn-submit:hover {
    background-color: #565e64;
}
.form-label {
    color: #bbb;
}
span{
    color: #ac0707;
    position: absolute;
}